/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	background:white;
}


#container {
    width:1000px;
    border:1px solid black;
    margin:auto;
	height:800px;
}

div#valentine{
    background: linear-gradient(90deg, rgba(210,22,63,1) 0%, rgba(246,93,218,1) 100%);
    width:500px;
    height:1000px;
    position:absolute;
    top:0px;
    left:0px;
    /*transition:all 1.5s;*/
}

/*div#valentine:hover{
    background: linear-gradient(90deg, rgba(210,22,63,1) 0%, rgba(246,93,218,1) 100%);
    transform: rotate(180deg);*/
}

div#rose{
    background:black;
    width:400px;
    height:400px;
    position:absolute;
    border-radius:50%;
    top:300px;
    left:300px;
    opacity:0;
    transition:all 500ms;
}

div#rose:hover{
    background: linear-gradient(90deg, rgba(246,93,218,1) 0%, rgba(210,22,63,1) 100%);
    opacity:1;
}

div#flower{
    background: linear-gradient(90deg, rgba(246,93,218,1) 0%, rgba(157,239,5,1) 100%);
    width:500px;
    height:1000px;
    position:absolute;
    top:0px;
    left:500px;
    /*transition:all 1.5s;*/
}

/*div#flower:hover{ 
    background: linear-gradient(90deg, rgba(246,93,218,1) 0%, rgba(157,239,5,1) 100%);
    transform: rotate(180deg);*/
}

div#green{
    background:blue;
    width:500px;
    height:1000px;
    position:absolute;
    top:0px;
    left:1000px;
    /*transition:all 1.5s;*/
}

div#blue{
    background: linear-gradient(90deg, rgba(123,176,255,1) 0%, rgba(165,87,214,1) 100%);
    width:500px;
    height:1000px;
    position:absolute;
    top:0px;
    left:1500px;
    /*transition:all 1.5s;*/
}