/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
    background:#C0DEA5;
	
}

/*Main Page and Nav Bar*/

.flex{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.nav{
    padding-left:50px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
	margin:auto;
    padding:20px;
    width:400px;
    background:#EBBA85;
    
}

button{
    width:55px;
    border:1px solid black;
}

.logo{
    right:350px;
    max-width:20%;
}

#memorial {
    width:400px;
}

.ham{
   max-width:75px;
}

#NavMenu{
    background:none;
    border:none;
    margin-left:10px;
    padding:0px;
    max-width:200px;
}

.camp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:350px;
    border-radius:30px;
    border:5px solid #D08730;
    
}

.introp{
    padding:10px;
    padding-top:10px;
    color:white;
    background:#EBBA85;
}

p{
    font-size:1.3em;
    text-align: justify;
}

nav ul {
  list-style: ;
  padding-left: 0px;
}

nav.horizontal li{
    border:lpx solid green;
    display: inline;
}

nav a {
  display:inline-block;
  color:#C0DEA5;
  align-content: center;
  text-decoration:none;
  background:white;
  font-size: 0.75em;
  padding:5px;
  margin:3px;
  width:60px;
  text-align: center;
  border-radius:20px;
  transition: background 500ms;
}

.orange:hover{
    color:white;
    background:#D08730;
}

.blue:hover{
    color:white;
    background:#529FD7;
}

.yellow:hover{
    color:white;
    background:#E0CA72;
}

.green:hover{
    color:white;
    background:#79baa1;
}

.darkgreen:hover{
    color:white;
    background:#58885E;
}

/* About Page items*/

.med{
    max-height: 100px;
    border:5px solid white;
    border-radius: 30px;
}

.bout{
    margin-left:50px;
    width:250px;
    padding:30px;
    padding-left:50px;
    padding-right:50px;
    background: #529FD7;
    border: 4px solid white;
    color:white;
    border-radius:30px;
    text-align:left;
}

.land{
    max-height: 100px;
    border:5px solid white;
    border-radius: 30px;
}

.lands{
    margin-left:50px;
    width:250px;
    padding:30px;
    padding-left:50px;
    padding-right:50px;
    background: #D08730;
    border: 4px solid white;
    color:white;
    border-radius:30px;
}

.con{
    max-height: 100px;
    border:5px solid white;
    border-radius: 30px;
}

.cons{
    margin-left:50px;
    width:250px;
    padding:30px;
    padding-left:50px;
    padding-right:50px;
    background: #E0CA72;
    border: 4px solid white;
    color:white;
    border-radius:30px;
}

/*Products Page*/

.charm{
    max-width:300px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.cham{
    position:fixed;
    text-align: center;
    top:180px;
    left:135px;
    font-size:1.5em;
    color:white;
}

.cha{
    position:fixed;
    max-width:350px;
    text-align: center;
    top:200px;
    left:50px;
}

.charmdes{
    top:145px;
    position:fixed;
    background:#a6d8f2;
    margin:100px;
    padding:50px;
    border-radius:150px;
    color:white;
    text-align: center;
}

.pla{
     position:fixed;
    max-width:400px;
    text-align: center;
    top:570px;
    left:30px;
}

.plan{
    position:fixed;
    text-align: center;
    top:550px;
    left:135px;
    font-size:1.5em;
    color:white;
}

.plantdes{
    top:540px;
    left:0px;
    position:fixed;
    background:#C0DEA5;
    margin:90px;
    padding:40px;
    border-radius:150px;
    color:white;
    text-align: center;
}

/*memorial*/

.memo{
    position:fixed;
    font-size:1.2em;
    color:white;
    margin:20px;
    text-align: center;
    top:280px;
}

.kusakabe{
    width:100%;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    margin:0px;
    padding:0px;
    
}

.kusakabe img{
    height:auto;
    object-fit:cover;
}

.laugh{
    max-width:500px;
}
.sitting{
    max-width:500px;
}
.stream{
    max-width:400px;
}

/*research*/

.reimg{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reimg img{
    flex:1 1 auto;
    max-width:100%;
    height:auto;
    padding: 30px;
}

.rebuttons{
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
}

.rebuttons button{
    padding:50px;
    margin:20px;
    margin-top: 0px;
    background:#58885E;
    color:white;
    text-align: center;
}

#treebutton{
    background:#D08730;
}

#shrinebutton{
    background:#E0CA72;
}

#wishbutton{
    background:#529FD7;
}

.recaption {
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
}

.recaption figcaption{
    margin:30px;
    padding:10px;
    font-size: 1.5em;
    color:white;
}

.treedes{
    background:#D08730;
    padding:30px;
    margin:20px;
    color:white;
    border-radius:50px;
}

.wishdes{
    background:#529FD7;
    padding:30px;
    margin:20px;
    color:white;
    border-radius:50px;
}

.shrinedes{
    background:#E0CA72;
    padding:30px;
    margin:20px;
    color:white;
    border-radius:50px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
    
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
   
	
	
	
} /* closes 1024px+ */



